/* about section starts */
.about {
  background: rgb(255, 255, 255);
  padding: 2rem 8%;
}
.heading{
    font-size: 1.7rem;
    font-weight:bolder;
}
.about .row {
  display: flex;
  gap: 2.3rem;
  flex-wrap: nowrap;
}
.about .row .image {
  margin-top: 30px;
}
.about .row .image img {
  width: 25rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  cursor: pointer;
}

.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2rem;
}
.about .row .content h3 span{
  color: purple;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
  color: #020133;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 3rem;
  margin-left: 30%;
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    width: 100%;
  }
  .about .row {
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 7rem;
    align-items: center;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */